<form action="/" method="post" id="full-form" novalidate>
  <div class="mb-3">
    <input type="url" name="full" class="form-control bg-light" id="full" placeholder="Input URL here" required>
  </div>
  <div class="d-grid col-6 mx-auto">
    <button type="submit" class="btn btn-outline-primary">Shorten</button>
  </div>
</form>

<script src="/javascripts/index.js"></script>