<p>Success! Please use this link: </p>
<a href="{{url.origin}}/{{url.short}}" id="short">{{url.origin}}/{{url.short}}</a>
<button id="copy-button">Copy</button>

<script src="/javascripts/short.js"></script>